# data & outputs
docs/tmp
data/
outputs/
checkpoints/

# archives
results_zip/tmp_results/
*.zip
*.tar
*.tar.gz
*.7z

# python
__pycache__/
*.pyc
.venv/
.env

# OS
.DS_Store

# model checkpoints
models/